@charset "UTF-8";
body{
	background: black;
	font-family: Agency FB;
	margin: 0;
    overflow: hidden;
}
div{
	font-size: 20px;
	text-align: center;
	margin: 0px auto;
}
#notice{
	color: red;
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display: block;
}
#info{
	color: white;
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: left;
	text-align: bottom;
	z-index: 100;
	display: block;
}