@charset "UTF-8";
@font-face {
	font-family: 'Xolonium';
	src: url('Xolonium.otf');
	unicode-range: U+0020-0240;
}
body{
	background-color: black;
	font-family: Xolonium;
	margin: 0;
    overflow: hidden;
}
div{
	font-size: 20px;
	text-align: left;
	margin: 0px auto;
}
#notice{
	color: red;
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display: block;
}
#infoBox{
	position: absolute;
	width: 600px;
	height: 300px;
	background-color: rgba(0, 192, 255, 0.75);
	border: 2px;
}
#stellarName{
	color: white;
}
#nationName{
	color: white;
}