@charset "UTF-8";
body{
	background: black;
	color: red;
	font-family: Agency FB;
}
div{
	font-size: 20px;
	padding: 5px;
	text-align: center;
	margin: 1px auto;
}
#info{
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display: block;
}