body{
    font-family: Arial, Helvetica, sans-serif;
}
.head{
    width: 100pt;
}
.numerical{
    width: 50pt;
}
p{
    font-size: 10pt;
}
table{
    border: 2px solid;
    padding: 1px;
    text-align: center;
}
input{
    font-size: 10pt;
    border: none;
    padding: 0px;
    text-align: center;
    width: 50pt;
}
td{
    border: 1px solid black;
    padding: 3pt;
}