body {
    background-color: black;
    color: white;
  }
.serif{
    font-family: serif;
}  
.honeycomb {
    /* 画像をハニカム構造状にトリミングする */
    width: 100px;
    height: 100px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  
    /* 画像をタイリングする */
    background-image: url(image1.jpg), url(image2.jpg);
    background-repeat: repeat;
  }
  