@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color: black;
    background-image: url("images/background.png");
    background-position: top 10em center;
    background-size: 1500px;
    background-repeat: no-repeat;
}

li, a, button {
    font-family: Orbitron, Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: white;
    text-decoration: underline;
    text-decoration-color: #228844;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: black;
}

.logo {
    cursor: pointer;
    margin: 0px;
    width: 200px;
}

.navigation_links li {
    display:  inline-block;
    padding:  0px 20px;
}

.navigation_links li a {
    transition: all 0.3s ease 0.0s;
}

.navigation_links li a:hover{
    color: #228844;
}

.container {
    color: white;
    margin-top: 10em;
    text-align: center;
    background-color: #111111;
}

#intro {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
    background: none;
}

#nations {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
    background: none;
}

.honeycomb{
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    transform: translateY(80px);
}
.honeycomb-cell{
    -webkit-box-flex: 0;
    flex: 0 1 250px;
    max-width: 250px;
    height: 137.5px;
    margin: 65.4px 12.5px 25px;
    position: relative;
    padding: 0.5em;
    text-align: center;
    z-index: 1;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}
.honeycomb-cell_img{
    object-fit:  cover;
    object-position: center;
}
.honeycomb-cell_title{
    height: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-hyphens: auto;
    hyphens: auto;
    word-break: break-word;
    color: white;
    font-weight: 500;
    font-size: 1em;
    transition: opacity 300ms;
}
.honeycomb-cell_title > small{
    font-weight: 300;
    margin-top: 0.25em;
}
.honeycomb-cell::before,.honeycomb-cell::after{
    content: '';
}
.honeycomb-cell::before,.honeycomb-cell::after,.honeycomb-cell_img{
    top: -50%;
    left: 0;
    width: 100%;
    height: 200%;
    display: block;
    position: absolute;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path:  polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    z-index: -1;
}
.honeycomb-cell::before{
    background: white;
    transform: scale(1.055);
}
.honeycomb-cell::after{
    background: black;
    opacity: 0.7;
    transition: opacity 300ms;
    -webkit-tramsition: opacity 300ms;
}
.honeycomb-cell:hover.honeycomb-cell_title{
    opacity: 0;
}
.honeycomb-cell:hover.honeycomb-cell_img{
    filter: grayscale(0%);
}
.honeycomb-cell:hover:before{
    background-color: #228844;
}
.honeycomb_hidden{
    display: none;
    opacity: 0;
    width: 250px;
    margin: 0 12.5px;
}

#SAV_img{
    object-position: 25%;
}
#VAL_img{
    object-position: 10%;
}